<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{fragments/layout}" 
  	  lang="ko" 
  	  xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="custom_css">
	<!-- custom -->
</th:block>
<th:block layout:fragment="custom_js">

	<script type="text/javascript" >
		var aa = 0;
		
		function goChk(){
			
			var member = {
					name : $('#name').val(),
					email : $('#email').val(),
					phoneNumber : $('#phoneNumber').val()
			};
			
			$.ajax({
				
				url : "/validCheck",
				method : "POST",
				data: JSON.stringify(member),
				contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert("성공");
                }
			});
			
		};
		
		
	</script>

</th:block>
<title>vaildChk</title> 
<body>
<th:block layout:fragment="content">

    이름:<input type="text" id="name" name="name" />
		</br>
    이메일:<input type="text" id="email" name="email" />
		</br>
    폰번호<input type="text" id="phoneNumber" name="phoneNumber" />


	<input type="button" value="전송" onclick="goChk();"/>
<!-- 	validCheck -->

</th:block>
</body>